body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
}

input {
  font-size: 14px;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid gray;
  width: 300px;
  box-shadow: 0px 4px 4px #00000020;
}

button {
  border-radius: 6px;
  border-width: 1px;
  padding: 4px;
  box-shadow: 0px 4px 4px #00000020;
}
