body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
}

input, select {
  font-size: 14px;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid gray;
  width: 300px;
  box-shadow: 0px 4px 4px #00000020;
}

div {
  margin-bottom: 1rem;
}

.note {
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: #666;
  margin-bottom: 0.25rem;
}

button {
  margin-top: 0.5rem;
  display: block;
  border-radius: 6px;
  border-width: 1px;
  padding: 4px;
  font-size: 1rem;
  box-shadow: 0px 4px 4px #00000020;
}
